<h1>Articles#index</h1>
<p>Find me in app/views/articles/index.html.erb</p>
HTML CSS JSResult Skip Results Iframe
EDIT ON
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
  <div class="container">
    <div class="btn">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#">トップページ</a></li>
        <li><a href="#">会社概要</a></li>
        <li><a href="#">製品・サービス</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </div>
  </div>  
</body>
</html>